<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/tasks/new" method = "post">
  <label for="tasks">What task do you need to do?</label>
  <input type="text" name="tasks" />
  <button type="submit">Create task</button>
</form>
</body>

</html>